@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    margin: 0;
}
body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
    margin: 0;
    padding: 0;
}
.nav{
    background: #63B76C;
    padding: 10px;
}
.nav h4{
    padding: 10px;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    text-align: center;
}
#keypad{
width: 300px;
  margin: 50px auto;
  text-align: center;
}

#inputField {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.button {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
  background-color: #e0e0e0;
  font-size: 24px;
  line-height: 60px;
  cursor: pointer;
    }