@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    margin: 0;
}
body{
    background-color: white;
    font-family: 'Roboto';
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav {
    background: transparent;
    border-bottom: 1px solid silver;
    padding: 17px;
    display: flex;
    align-items: center;
}
.nav a {
    margin-left: 10px;
    margin-right: auto;
}
.nav h3 {
    margin: 0;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
p{
    margin: 30px 17px 20px;
    text-align: left;
}
input{
    width: 80%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid silver;
    font-size: 18px;
    font-family: "Roboto";
    color: black;
    padding: 10px;
}
button{
    background: green;
    margin: 20px 0;
    border: none;
    padding: 10px 12px;
    color: white
}