<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1"></script>
    <script src="https://kit.fontawesome.com/6bd9574680.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav">
        <h3>Wallet</h3>
    </div>

    <div class="card">
        <p class="top">
            <span class="virtual">VIRTUAL</span>
            <span id="cvv">1234</span>
        </p>
        <p id="card-number">{{card_no}}</p>
        <p class="cardholder">CARDHOLDER</p>
        <p class="card-name">{{full_name}}</p>
    </div>

    <div class="balance">
        <p class="total">TOTAL BALANCE</p>
        <p class="currency">
            <span class="bal">63420.68</span>
            <span>USD</span>
        </p>
        <a href="{{url_for('send')}}" class="send">Send</a>
        <a href="{{url_for('receive')}}" class="receive">Receive</a>
    </div>

    <div class="footer">
        <button id="transactions">Transactions</button>
        <button id="analytics">Analytics</button>
        <div id="transactions-div">
            <div class="transaction">
                <div class="outgoing">
                    <i class="fa-solid fa-arrow-up" style="color: #000000;"></i>
                <div>
                <h4>Money sent</h4>
            </div>
        </div>
        <div id="analytics-div">
            <h3>May 2023</h3>
            <button id="weeks">Weeks</button>
            <button id="months">Months</button>
            <div id="weeks-div">
                <canvas id="weeks-bar"></canvas>
            </div>
            <div id="months-div">
                <canvas id="months-bar"></canvas>
            </div>
        </div>
    </div>
        
        

<script src="{{url_for('static', filename='homepage.js')}}">
</script>
</body>