<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Money</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='send.css') }}">
</head>
<body>
    <div class="nav">
        <h3>Send Money</h3>
    </div>
    <div class="input-wrap">
            <input id="pin1" class="pin" name="pincode" type="password" inputmode="numeric" maxlength="1" onkeyup="movetoNext(this, 'pin2')" required>
            <input id="pin2" class="pin" name="pincode" type="password" inputmode="numeric" maxlength="1" onkeyup="movetoNext(this, 'pin3')" required>
            <input id="pin3" class="pin" name="pincode" type="password" inputmode="numeric" maxlength="1" onkeyup="movetoNext(this, 'pin4')" required>
            <input id="pin4" class="pin" name="pincode" type="password" inputmode="numeric" maxlength="1" required>
    </div>
        <a id="submit" href="{{url_for('homepage')}}">
            <button id="btn">Send</button>
        </a>
    <script src="{{url_for('static', filename='send.js')}}"></script>
</body>


